* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    } 

body{
    margin: 0;
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 0vw;
    } 
    