
/* charte des couleurs du site
#F0F7D4 blanc cream

#B2D732 vert pâle
 
#FE2712 rouge
 
#347B98 bleu pâle
 
#092834 bleu foncé
*/
h1,h2,h3,a,p,ol,ul,table {
    font-family: 'Spinnaker', sans-serif;
}

body {
    background-color:#092834;
}

h1 {
    color: black;
    font-size: 45px;
        
}
h2 {
    color: #092834;
    font-size: 30px;
}
h3 {
    color: #FE2712;
    font-size: 20px;
    background: #092834;
    text-align: center;
}
a {
    color: black; 
    font-size: 20px;   
}
p{
    color: #092834;
    font-size: 16px;
    padding: 1%;
}
img {
    /*height: 100%; 
    width: 100%;*/
    object-fit: contain;
    max-width: 100%;
    height: auto;
    border-radius: 8px;  
    
}

section {
    
    align-content: center;
}
table {
    border: 3px solid black;
    padding: 5vw;
    text-align: top; 
}

th{
    border-bottom:3px solid black ;
    width: 25%;
    }
td{
    
    width: 25%;
}

table, th, td {
    border-collapse: collapse;
    padding: 2vw;
    text-align: center;
    vertical-align: top;
}
ol{
    list-style-type: decimal;  
}
ul{
    list-style-type: none;
    
}



