.textfoot {
    text-align: right;
    display: inline-block;
    color: #F0F7D4;
    width: 100%;
}
.lien {
    color: #F0F7D4;
    padding: 15px;
}

.wrapper { /*Totalement pris sur Stackoverflow https://stackoverflow.com/questions/1708054/center-ul-li-into-div  et modifié quelque peu. */
    text-align: center;
}
.wrapper ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    
    
}
.wrapper li {
    float: left;
    padding: 2px 5px;
    
}

.inline {
    display: inline;
}
  