
header {

   
    background-image: url("../../assets/images/Large\ Pisco\ Sour.jpg");
    background-color: #092834;
    height: 20vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 35vh;
    margin-bottom: 15px;
     
}
/* Portion de solution prise en ligne mais pas utilisé
.hero-image {
    background-image: url("../../assets/images/Large\ Pisco\ Sour.jpg");
    background-color: #cccccc;
    height: 20vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
  }
  */
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  