/* class pour section Main */

.troisquart { /* éléments de 3/4 de page*/
    display: inline-block;
    width: 40vw;
    vertical-align: middle;
}
.unquart { /* éléments de 1/4 de page*/
    display: inline-block;
    width: 20vw;
    vertical-align: middle;
    
}
.backgreen { /* couleur verte en background de base*/
    color:#092834;
    background: #F0F7D4;
    padding: 0 10vw;
    align-content: center;
    margin-bottom: 15px;
    
}
.backbleu { /* couleur bleu fonce en background de base*/
    color:#F0F7D4;
    background: #092834;
    padding: 0 10vw;
    
}

.inlinesubbleupale{ /* sous-section bleu pâle */
    color:#092834;
    background: #347B98;
    font-weight: 800;
    float: left;
    width: 25%;
    vertical-align: top;
    text-align: justify;
    margin: 0 auto;
    padding: 0 10vw;
    height: 40vw;
    
}

.pad{ /*ajout padding pour ajustement*/
    padding: 10px;
    
}

.textblanc { /*Change couleur par défaut du texte*/
    color:#F0F7D4
}
.textrouge { /*utiliser pour les ingrédient page cocktails, change comportement du font et couleur*/
    color:#FE2712;
    font-family: 'Indie Flower', cursive;
    font-weight: 800;
}
.gradient { /*Effet de transition vert à bleu pâle*/
    border: 30px solid;
    border-image: linear-gradient(#F0F7D4, #347B98) 10;
    padding: 20px;
    
}
.gradient2 { /*Effet de transition bleu pâle à bleu foncé*/
    border: 30px solid;
    border-image: linear-gradient(#347B98,#092834 ) 100;
    padding: 20px;
    
}

.bordurearrondi {  /*Cadavre... tentative ratée d'arrondir certains div.*/

    border-radius: 25px;
    background: #73AD21;
    padding: 20px;   
}
.alignright{ /*Cadavre... restant de division avant de mettre en tableau*/
    float: right;
}



